<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.wl.data"
	>
	<application android:theme="@style/AppTheme">
		
		<activity
			android:name=".ui.DataActivity"
			android:screenOrientation="portrait" />
		<activity
			android:name=".ui.DataAnimActivity"
			android:screenOrientation="portrait" />
		<activity
			android:name=".ui.WebViewActivity"
			android:screenOrientation="portrait" />
	</application>
</manifest>
